*{
    margin: 0%;
    padding: 0%;
}
.container{
    height: 100vh;
    width: 100%;
    background-image: url(images/background1.jpg);
    background-position: center;
    background-size: cover;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    position: relative;
}
.navbar{
    width: 100%;
    height: 15vh;
    margin: auto;
    display: flex;
    align-items: center;
}
.logo{
    width: 160px;
    cursor: pointer;
}
.cart{
    width: 100px;
    cursor: pointer;
}
nav{
    flex: 1;
    padding-left: 60px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 0px 20px;
}
nav ul li a{
    text-decoration: none;
    color: #333;
}
.content h1{
    font-size: 60px;
    font-weight: 100;
    margin-top: 24px;
    margin-bottom: 15px;
    color: #232d60;
}
.content p{
    font-size: 20px;
    color: #6a7199;
}
.content{
    margin-left: 10%;
    margin-top: 10%;
}
.content .btn{
    display: inline-block;
    background: linear-gradient(45deg, #87adfe, #ff77cd);
    border-radius: 6px;
    padding: 10px 20px;
    box-sizing: border-box;
    text-decoration: none;
    color: #fff;
    box-shadow: 3px 8px 22px rgba(190, 33, 127, 0.15);
}
.arrow-icons{
    margin-top: 40px;
    display: flex;
}
.arrow-icons img{
    width: 45px;
    margin-right: 10px;
}
.feature-img{
    height: 90%;
    position: absolute;
    bottom: 0;
    right: 160px;
}
.social-links{
    transform:  rotate(-90deg);
    position: absolute;
    left: -80px;
    bottom: 180px
}
.social-links a{
    text-decoration: none;
    color: #6a7199;
    padding-right: 20px;
    font-size: 14px;
}

/*responsive di layar mobile middle*/
@media(min-width:321px) and (max-width: 425px){
    section#container{
        width: 90%;
        height: 630px;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 30px;
    }
    .container{
        height: 100vh;
        width: 100%;
        background-position: center;
        background-size: cover;
        padding-left: 5%;
        padding-right: 5%;
        box-sizing: border-box;
        position: relative;
    }
    .navbar{
        width: 90%;
        height: 20vh;
        margin: auto;
        display: flex;
        align-items: center;
    }
    .logo{
        width: 120px;
        padding-left: -10px;
        cursor: pointer;
    }
    .cart{
        width: 100px;
        padding-left: 40px;
        cursor: pointer;
    }
    nav ul{
        display: none;
        right: 0%;
        width: 100%;
        text-align: center;
        top: 43px;
        z-index: 99;
        background: #fff;
    }
    nav ul li{
        float: unset;
        margin: 0;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .content h1{
        padding-left: 0px;
        width: 150%;
        text-align: left;
        margin-left: 0;
        border: none;
    }
    .content p{
        font-size: 20px;
        color: #6a7199;
    }
    .arrow-icons{
        margin-top: 40px;
        display: flex;
    }
    .arrow-icons img{
        width: 45px;
        margin-right: 10px;
    }
    .feature-img{
        left: -50px;
        top: -70px;
        position: relative;
    }
    .social-links{
        transform:  rotate(0deg);
        position: absolute;
        left: 10px;
        bottom: -500px
    }
    section#input-form{
        margin-left: 5%;
        margin-right: 5%;
    }
}
